<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <script src="https://unpkg.com/vue"></script>
    <title>Monster Killer</title>
  </head>
  <body>
    <div id="app">
      <div class="panel scores">
        <div class="score">
          <h1>Player</h1>
          <div class="life-bar">
            <div
              class="life"
              :class="{danger: playerLife < 20}"
              :style="{width: playerLife + '%'}"
            ></div>
          </div>
          <div>{{ playerLife }}%</div>
        </div>
        <div class="score">
          <h1>Monster</h1>
          <div class="life-bar">
            <div
              class="life"
              :class="{danger: monsterLife< 20}"
              :style="{width: monsterLife + '%'}"
            ></div>
          </div>
          <div>{{ monsterLife }}%</div>
        </div>
      </div>
      <div v-if="hasResult" class="panel result">
        <div v-if="monsterLife == 0" class="win">The player win!!</div>
        <div v-else class="lose">The monster win !!</div>
      </div>
      <div class="panel buttons">
        <template v-if="running">
          <button class="btn attack">Attack</button>
          <button class="btn special-attack">Special Attack</button>
          <button class="btn heal">Heal</button>
          <button class="btn give-up">Give up</button>
        </template>
        <button v-else class="btn start">Start</button>
      </div>
      <div class="panel logs"></div>
    </div>

    <script src="app.js"></script>
  </body>
</html>
